#include <stdio.h>
#include <stdint.h>
#include "picowjs_modules.h"
{{#modules}}
{{#native}}#include "module_{{name}}.h"{{/native}}
{{/modules}}

{{#modules}}
#define MODULE_{{nameUC}}_SIZE {{size}}
const char module_{{name}}_name[] = "{{name}}";
const size_t module_{{name}}_size = MODULE_{{nameUC}}_SIZE;
const uint8_t module_{{name}}_code[] = {
{{#segments}}
  {{#bytes}}0x{{value}}{{^last}}, {{/last}}{{/bytes}}
{{/segments}}
};

{{/modules}}
/* builtin modules */
#define BUILTIN_MODULES_SIZE {{builtinModules.length}}
const size_t builtin_modules_length = BUILTIN_MODULES_SIZE;
const picowjs_builtin_module builtin_modules[] = {
{{#builtinModules}}
  { module_{{name}}_name, module_{{name}}_code, MODULE_{{nameUC}}_SIZE, {{#native}}module_{{name}}_init{{/native}}{{^native}}NULL{{/native}} }{{^lastModule}}, {{/lastModule}}
{{/builtinModules}}
};
