#ifndef KALUMA_MAGIC_STRINGS_H
#define KALUMA_MAGIC_STRINGS_H

#include <stdint.h>
#include "jerryscript.h"

extern const uint32_t num_magic_string_items;
extern const jerry_char_t *magic_string_items[];
extern const jerry_length_t magic_string_lengths[];

#endif
